extends ../layout

block content
    h1.
        Infophoto #{member._id}
    p Name: #{member.name}
    p Email: #{member.email}
    p Birthday: #{member.birthday}
    p Phone: #{member.phone}
    p Cellphone: #{member.phone}
