extends ../layout

block content
    h1.
        Membro #{member.name}
    p Nome: #{member.name}
    p Email: #{member.email}
    p Data de Nascto: #{member.birthday}
    p Telefone: #{member.phone}
    p Celular: #{member.phone}
